/* apply custom rich type formatting */
.type-rich {
  @apply text-primary;
  > * + * {
    margin-top: 1.5em;
  }
  li + li {
    margin-top: 1em;
  }
  b,
  strong {
    @apply font-bold;
  }
  i,
  em {
    @apply italic;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ul,
  ol {
    @apply pl-5;
  }
  li > ul,
  li > ol {
    @apply pt-5;
  }

  blockquote {
    @apply text-black;
    @apply pl-8 relative;
    &:before {
      content: '';
      width: 4px;
      @apply bg-gradient-5 h-full left-0 absolute;
    }
  }
  a {
    @apply transition duration-200;
  }
  a.header-anchor {
    font-size: 0.85em;
    margin-left: -0.87em;
    padding-right: 0.23em;
    margin-top: 0.125em;
    @apply opacity-0 float-left;
  }

  a.header-anchor:hover {
    @apply underline;
  }
  h1:hover .header-anchor,
  h2:hover .header-anchor,
  h3:hover .header-anchor,
  h4:hover .header-anchor,
  h5:hover .header-anchor,
  h6:hover .header-anchor {
    @apply opacity-100;
  }
}
