@import './fonts/index.css';
@import './tailwind.css';

body {
  @apply bg-gray-light antialiased;
}

pre {
  padding: 1.25rem 1.5rem;
  background-color: #0e2333;
  border-radius: 6px;
}

pre > code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  font-size: 0.85em;
  white-space: pre-wrap;
  word-break: break-all;
}

code {
  margin: 0;
  padding: 0.15rem 0.3rem;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  color: rgba(51, 51, 51, 0.8);
  font-size: 0.85em;
}
